############################################################
## Program Settings
############################################################
LIBRARY_TYPE = SINGLE
SPACE_SAVER = N
CORE = 8

############################################################
## Input Data
############################################################
READ1_EXT = _R1
READ2_EXT = _R2

############################################################
## Alignment Options
############################################################
GLOBAL_OPTIONS = -X 1000 --no-discordant --very-sensitive --mp 5,1
LOCAL_OPTIONS = -X 1000 --no-discordant --very-sensitive --mp 5,1
GENOME_DIR = /usr/local/Genomes/Cer3H4L2/
GENOME_NAME = Cer3H4L2
FASTA_INDEX = /usr/local/Genomes/Cer3H4L2/Cer3H4L2.fsa.fai
MAPQ_FILTER = 0

############################################################
## Optional
############################################################
REPEAT_LIST = /Users/timjoncooper/Dropbox/SoftwareLibrary/seqBias/ExclusionLists/Cer3H4L2Exclusion.txt 
